:root {
  --primary-color: #222222;
  --secondary-color: #ece7ee;
  --neutral-color: #fbecda;
}

body {
  background-color: var(--neutral-color);
  font-family: 'Orbitron', Lato, 'PT Sans', -apple-system, BlinkMacSystemFont,
    Roboto, Ubuntu, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
}

.app_container{
  background-color: var(--neutral-color);
  height: 100vh;
  width: 100vw;
}

.app__header {}

.table {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.2rem;
}

.table__header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.table__body {
}

.table__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.table__cell {}

@media screen and (min-width: 22rem) {
  .wrapper {
    width: 70%;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid red;
}

body,
div,
p,
button {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}
